In [1]:
#importing required libraries

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import re

# Data Loading

In [2]:
#loading the csv files and storing them in variables
pl10=pd.read_csv('datasets/placements10.csv')
pl11=pd.read_csv('datasets/placements11.csv')
pl12=pd.read_csv('datasets/placements12.csv')
pl13=pd.read_csv('datasets/placements13.csv')
pl14=pd.read_csv('datasets/placements14.csv')
pl15=pd.read_csv('datasets/placements15.csv')
pl16=pd.read_csv('datasets/placements16.csv')
pl17=pd.read_csv('datasets/placements17.csv')
pl18=pd.read_csv('datasets/placements18.csv')
pl19=pd.read_csv('datasets/placements19.csv')
pl20=pd.read_csv('datasets/placements20.csv')
pl21=pd.read_csv('datasets/placements21.csv')

# Data Cleaning

In [3]:
#removing null values and replacing them with 0
pl10.fillna(0,inplace=True)
pl11.fillna(0,inplace=True)
pl12.fillna(0,inplace=True)
pl13.fillna(0,inplace=True)
pl14.fillna(0,inplace=True)
pl15.fillna(0,inplace=True)
pl16.fillna(0,inplace=True)
pl17.fillna(0,inplace=True)
pl18.fillna(0,inplace=True)
pl19.fillna(0,inplace=True)
pl20.fillna(0,inplace=True)
pl21.fillna(0,inplace=True)

In [4]:
#deleting unnecessary columns
del pl10['S. No.']
del pl11['S. No.']
del pl12['S. No.']
del pl13['S. No.']
del pl14['S. No.']
del pl15['S. No.']
del pl16['S. No.']
del pl17['S. No.']
del pl18['S. No.']
del pl19['Sl.No.']
del pl20['Sl. No.']
del pl21['Sl.No.']

In [5]:
#Checking data types

In [6]:
pl16.columns

Index(['Name of the Organization', 'Salary Per\nAnnum (Rs. In Lakhs)', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'MTech/ CNIS', 'M.E/ ECE', 'ME / VLSI', 'M.E/ EEE',
       'M.E/\nCad/Cam', 'ME/ THERMAL', 'ME/ CIVIL', 'MBA', 'TOTAL'],
      dtype='object')

In [7]:
print(pl16['CSE'].head())
print(pl16['TOTAL'].head())

0    3.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: CSE, dtype: float64
0    7
1    5
2    1
3    3
4    2
Name: TOTAL, dtype: int64

In [8]:
#pl20[pl20['CSE']>10]

In [9]:
#renaming and rearranging the columns

In [10]:
print(pl10.columns)
print(pl11.columns)
print(pl12.columns)
print(pl13.columns)
print(pl14.columns)
print(pl15.columns)
print(pl16.columns)
print(pl17.columns)
print(pl18.columns)
print(pl19.columns)
print(pl20.columns)
print(pl21.columns)

Index(['Name of the Organization', 'Salary Per Annum (Rs. In Lakhs)', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'M.E/ CSE', 'M.E/ ECE', 'M.E/ EEE', 'M.E/\nCad/Cam', 'ME/ CIVIL', 'MBA',
       'TOTAL'],
      dtype='object')
Index(['Name of the Organization', 'Salary Per Annum (Rs. In Lakhs)', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'M.E/ CSE', 'M.E/ ECE', 'M.E/ EEE', 'M.E/\nCad/Cam', 'ME/ CIVIL', 'MBA',
       'TOTAL'],
      dtype='object')
Index(['Name of the Organization', 'Salary Per Annum (Rs. In Lakhs)', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'M.E/ CSE', 'M.E/ ECE', 'M.E/ EEE', 'M.E/\nCad/Cam', 'ME/ CIVIL', 'MBA',
       'TOTAL'],
      dtype='object')
Index(['Name of the Organization', 'Salary Per Annum (Rs.\nIn Lakhs)', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'M.E/ CSE', 'M.E/ ECE', 'M.E/ EEE', 'M.E/\nCad/Cam', 'ME/ CIVIL', 'MBA',
       'TOTAL'],
      dtype='object')
Index(['Name of the Organization', 'Salary Per\nAnnum (Rs. In Lakhs)', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'M.E/ CSE', 'M.E/ ECE', 'ME / VLSI', 'M.E/ EEE', 'M.E/\nCad/Cam',
       'ME/ THERMAL', 'ME/ CIVIL', 'MBA', 'TOTAL'],
      dtype='object')
Index(['Name of the Organization', 'Salary Per\nAnnum (Rs. In Lakhs)', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'MTech/ CNIS', 'M.E/ ECE', 'ME / VLSI', 'M.E/ EEE',
       'M.E/\nCad/Cam', 'ME/ THERMAL', 'ME/ CIVIL', 'MBA', 'TOTAL'],
      dtype='object')
Index(['Name of the Organization', 'Salary Per\nAnnum (Rs. In Lakhs)', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'MTech/ CNIS', 'M.E/ ECE', 'ME / VLSI', 'M.E/ EEE',
       'M.E/\nCad/Cam', 'ME/ THERMAL', 'ME/ CIVIL', 'MBA', 'TOTAL'],
      dtype='object')
Index(['Name of the Organization', 'Salary Per Annum (Rs.\nIn Lakhs)', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'MTech/ CNIS', 'M.E/ ECE', 'ME / VLSI', 'M.E/ EEE',
       'M.E/\nCad/Cam', 'ME/ THERMAL', 'ME/ CIVIL', 'MBA', 'TOTAL'],
      dtype='object')
Index(['Name of the Organization', 'Salary P.A (Rs. In Lakhs)', 'ECE', 'CSE',
       'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'MTech/ CNIS', 'M.E/ ECE\nComm', 'ME /\nVLSI & ESVD',
       'M.E/ EEE', 'M.E/\nCad/Cam', 'ME/ THERMAL', 'ME/ CIVIL', 'MBA',
       'TOTAL'],
      dtype='object')
Index(['Name of the Organization', 'Salary Per Annum\n(Rs. In Lakhs)',
       'Bio- Tech', 'CHEM', 'CIVIL', 'CSE', 'ECE', 'EEE', 'IT', 'MECH', 'PROD',
       'MCA', 'MTech\n/ CSE', 'MTech\n/ CNIS', 'M.E/ ECE', 'ME / VLSI & ESVD',
       'M.E/ EEE', 'M.E/\nCad/Cam', 'ME/ THERMAL', 'ME/ CIVIL', 'MBA',
       'TOTAL'],
      dtype='object')
Index(['Name of the Organization', 'Salary Per Annum\n(Rs. In Lakhs)', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'Bio- Tech', 'MCA',
       'MTech\n/ CSE', 'MTech\n/ CNIS', 'M.E/ ECE\nComm', 'ME /\nVLSI & ESVD',
       'M.E/ EEE', 'M.E/\nCad/Cam', 'ME/ THERMAL', 'ME/ CIVIL', 'MBA',
       'TOTAL'],
      dtype='object')
Index(['Name of the Organization', 'Salary Per Annum        (Rs. In Lakhs)',
       'ECE', 'CSE', 'EEE', 'IT', 'MECH ', 'PROD', 'CIVIL', 'CHEM',
       'Bio- Tech', 'MCA', 'MTech/ CSE', 'MTech/ CNIS', 'M.E/   ECE  Comm',
       'ME / VLSI & ESVD', 'M.E/ EEE', 'M.E/  Cad/Cam', 'ME/ THERMAL ',
       'ME/ Stru', 'MBA', 'TOTAL'],
      dtype='object')

In [11]:
pl10.rename(columns={'M.E/ CSE':'MTech/ CSE'},inplace=True)

In [12]:
pl11.rename(columns={'M.E/ CSE':'MTech/ CSE'},inplace=True)

In [13]:
pl12.rename(columns={'M.E/ CSE':'MTech/ CSE'},inplace=True)

In [14]:
pl13.rename(columns={'Salary Per Annum (Rs.\nIn Lakhs)':'Salary Per Annum (Rs. In Lakhs)',
                     'M.E/ CSE':'MTech/ CSE'},inplace=True)

In [15]:
pl14.rename(columns={'Salary Per\nAnnum (Rs. In Lakhs)':'Salary Per Annum (Rs. In Lakhs)',
                     'M.E/ CSE':'MTech/ CSE'},inplace=True)

In [16]:
pl15.rename(columns={'Salary Per\nAnnum (Rs. In Lakhs)':'Salary Per Annum (Rs. In Lakhs)'},inplace=True)

In [17]:
pl16.rename(columns={'Salary Per\nAnnum (Rs. In Lakhs)':'Salary Per Annum (Rs. In Lakhs)'},inplace=True)

In [18]:
pl17.rename(columns={'Salary Per Annum (Rs.\nIn Lakhs)':'Salary Per Annum (Rs. In Lakhs)'},inplace=True)

In [19]:
pl18.rename(columns={'Salary P.A (Rs. In Lakhs)':'Salary Per Annum (Rs. In Lakhs)',
                     'M.E/ ECE\nComm':'M.E/ ECE',
                     'ME /\nVLSI & ESVD':'ME / VLSI'},inplace=True)

In [20]:
pl19.rename(columns={'Salary Per Annum\n(Rs. In Lakhs)':'Salary Per Annum (Rs. In Lakhs)',
                     'MTech\n/ CSE':'MTech/ CSE',
                     'MTech\n/ CNIS':'MTech/ CNIS',
                     'Bio- Tech':'BIO- TECH',
                     'ME / VLSI & ESVD':'ME / VLSI'},inplace=True)

In [21]:
pl20.rename(columns={'Salary Per Annum\n(Rs. In Lakhs)':'Salary Per Annum (Rs. In Lakhs)',
                     'MTech\n/ CSE':'MTech/ CSE',
                     'MTech\n/ CNIS':'MTech/ CNIS',
                     'M.E/ ECE\nComm':'M.E/ ECE',
                     'Bio- Tech':'BIO- TECH',
                     'ME /\nVLSI & ESVD':'ME / VLSI'},inplace=True)

In [22]:
pl21.rename(columns={'Salary Per Annum        (Rs. In Lakhs)':'Salary Per Annum (Rs. In Lakhs)',
                     'MECH ':'MECH',
                     'MTech\n/ CSE':'MTech/ CSE',
                     'MTech\n/ CNIS':'MTech/ CNIS',
                     'M.E/   ECE  Comm':'M.E/ ECE',
                     'Bio- Tech':'BIO- TECH',
                     'ME / VLSI & ESVD':'ME / VLSI',
                     'M.E/  Cad/Cam': 'M.E/\nCad/Cam',
                     'ME/ THERMAL ':'ME/ THERMAL'},inplace=True)

In [23]:
pl19=pl19[['Name of the Organization', 'Salary Per Annum (Rs. In Lakhs)', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'MTech/ CNIS', 'M.E/ ECE', 'ME / VLSI', 'M.E/ EEE',
       'M.E/\nCad/Cam', 'ME/ THERMAL', 'ME/ CIVIL', 'MBA', 'TOTAL']]

In [24]:
print(pl10.columns)
print(pl11.columns)
print(pl12.columns)
print(pl13.columns)
print(pl14.columns)
print(pl15.columns)
print(pl16.columns)
print(pl17.columns)
print(pl18.columns)
print(pl19.columns)
print(pl20.columns)
print(pl21.columns)

Index(['Name of the Organization', 'Salary Per Annum (Rs. In Lakhs)', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'M.E/ ECE', 'M.E/ EEE', 'M.E/\nCad/Cam', 'ME/ CIVIL',
       'MBA', 'TOTAL'],
      dtype='object')
Index(['Name of the Organization', 'Salary Per Annum (Rs. In Lakhs)', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'M.E/ ECE', 'M.E/ EEE', 'M.E/\nCad/Cam', 'ME/ CIVIL',
       'MBA', 'TOTAL'],
      dtype='object')
Index(['Name of the Organization', 'Salary Per Annum (Rs. In Lakhs)', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'M.E/ ECE', 'M.E/ EEE', 'M.E/\nCad/Cam', 'ME/ CIVIL',
       'MBA', 'TOTAL'],
      dtype='object')
Index(['Name of the Organization', 'Salary Per Annum (Rs. In Lakhs)', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'M.E/ ECE', 'M.E/ EEE', 'M.E/\nCad/Cam', 'ME/ CIVIL',
       'MBA', 'TOTAL'],
      dtype='object')
Index(['Name of the Organization', 'Salary Per Annum (Rs. In Lakhs)', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'M.E/ ECE', 'ME / VLSI', 'M.E/ EEE', 'M.E/\nCad/Cam',
       'ME/ THERMAL', 'ME/ CIVIL', 'MBA', 'TOTAL'],
      dtype='object')
Index(['Name of the Organization', 'Salary Per Annum (Rs. In Lakhs)', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'MTech/ CNIS', 'M.E/ ECE', 'ME / VLSI', 'M.E/ EEE',
       'M.E/\nCad/Cam', 'ME/ THERMAL', 'ME/ CIVIL', 'MBA', 'TOTAL'],
      dtype='object')
Index(['Name of the Organization', 'Salary Per Annum (Rs. In Lakhs)', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'MTech/ CNIS', 'M.E/ ECE', 'ME / VLSI', 'M.E/ EEE',
       'M.E/\nCad/Cam', 'ME/ THERMAL', 'ME/ CIVIL', 'MBA', 'TOTAL'],
      dtype='object')
Index(['Name of the Organization', 'Salary Per Annum (Rs. In Lakhs)', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'MTech/ CNIS', 'M.E/ ECE', 'ME / VLSI', 'M.E/ EEE',
       'M.E/\nCad/Cam', 'ME/ THERMAL', 'ME/ CIVIL', 'MBA', 'TOTAL'],
      dtype='object')
Index(['Name of the Organization', 'Salary Per Annum (Rs. In Lakhs)', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'MTech/ CNIS', 'M.E/ ECE', 'ME / VLSI', 'M.E/ EEE',
       'M.E/\nCad/Cam', 'ME/ THERMAL', 'ME/ CIVIL', 'MBA', 'TOTAL'],
      dtype='object')
Index(['Name of the Organization', 'Salary Per Annum (Rs. In Lakhs)', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'MTech/ CNIS', 'M.E/ ECE', 'ME / VLSI', 'M.E/ EEE',
       'M.E/\nCad/Cam', 'ME/ THERMAL', 'ME/ CIVIL', 'MBA', 'TOTAL'],
      dtype='object')
Index(['Name of the Organization', 'Salary Per Annum (Rs. In Lakhs)', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'MTech/ CNIS', 'M.E/ ECE', 'ME / VLSI', 'M.E/ EEE',
       'M.E/\nCad/Cam', 'ME/ THERMAL', 'ME/ CIVIL', 'MBA', 'TOTAL'],
      dtype='object')
Index(['Name of the Organization', 'Salary Per Annum (Rs. In Lakhs)', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'MTech/ CNIS', 'M.E/ ECE', 'ME / VLSI', 'M.E/ EEE',
       'M.E/\nCad/Cam', 'ME/ THERMAL', 'ME/ Stru', 'MBA', 'TOTAL'],
      dtype='object')

# Exporting the cleaned files

In [25]:
#pl10.to_csv('cleaned/pl10.csv',index=False)
#pl11.to_csv('cleaned/pl11.csv',index=False)
#pl12.to_csv('cleaned/pl12.csv',index=False)
#pl13.to_csv('cleaned/pl13.csv',index=False)
#pl14.to_csv('cleaned/pl14.csv',index=False)
#pl15.to_csv('cleaned/pl15.csv',index=False)
#pl16.to_csv('cleaned/pl16.csv',index=False)
#pl17.to_csv('cleaned/pl17.csv',index=False)
#pl18.to_csv('cleaned/pl18.csv',index=False)
#pl19.to_csv('cleaned/pl19.csv',index=False)
#pl20.to_csv('cleaned/pl20.csv',index=False)
#pl21.to_csv('cleaned/pl21.csv',index=False)

# Working with the datasets

## Adding the dataframes to get 10yrs cumulative data

In [26]:
#storing required columns from original dataframes in new variables

p10=pl10[['Name of the Organization', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'M.E/ ECE', 'M.E/ EEE', 'M.E/\nCad/Cam', 'ME/ CIVIL',
       'MBA', 'TOTAL']]

p11=pl11[['Name of the Organization', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'M.E/ ECE', 'M.E/ EEE', 'M.E/\nCad/Cam', 'ME/ CIVIL',
       'MBA', 'TOTAL']]

p12=pl12[['Name of the Organization', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'M.E/ ECE', 'M.E/ EEE', 'M.E/\nCad/Cam', 'ME/ CIVIL',
       'MBA', 'TOTAL']]

p13=pl13[['Name of the Organization', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'M.E/ ECE', 'M.E/ EEE', 'M.E/\nCad/Cam', 'ME/ CIVIL',
       'MBA', 'TOTAL']]

p14=pl14[['Name of the Organization', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'M.E/ ECE', 'ME / VLSI', 'M.E/ EEE', 'M.E/\nCad/Cam',
       'ME/ THERMAL', 'ME/ CIVIL', 'MBA', 'TOTAL']]

p15=pl15[['Name of the Organization', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'MTech/ CNIS', 'M.E/ ECE', 'ME / VLSI', 'M.E/ EEE',
       'M.E/\nCad/Cam', 'ME/ THERMAL', 'ME/ CIVIL', 'MBA', 'TOTAL']]

p16=pl16[['Name of the Organization', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'MTech/ CNIS', 'M.E/ ECE', 'ME / VLSI', 'M.E/ EEE',
       'M.E/\nCad/Cam', 'ME/ THERMAL', 'ME/ CIVIL', 'MBA', 'TOTAL']]

p17=pl17[['Name of the Organization', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'MTech/ CNIS', 'M.E/ ECE', 'ME / VLSI', 'M.E/ EEE',
       'M.E/\nCad/Cam', 'ME/ THERMAL', 'ME/ CIVIL', 'MBA', 'TOTAL']]

p18=pl18[['Name of the Organization', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'MTech/ CNIS', 'M.E/ ECE', 'ME / VLSI', 'M.E/ EEE',
       'M.E/\nCad/Cam', 'ME/ THERMAL', 'ME/ CIVIL', 'MBA', 'TOTAL']]

p19=pl19[['Name of the Organization', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'MTech/ CNIS', 'M.E/ ECE', 'ME / VLSI', 'M.E/ EEE',
       'M.E/\nCad/Cam', 'ME/ THERMAL', 'ME/ CIVIL', 'MBA', 'TOTAL']]

p20=pl20[['Name of the Organization', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'MTech/ CNIS', 'M.E/ ECE', 'ME / VLSI', 'M.E/ EEE',
       'M.E/\nCad/Cam', 'ME/ THERMAL', 'ME/ CIVIL', 'MBA', 'TOTAL']]

p21=pl21[['Name of the Organization', 'ECE',
       'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH', 'MCA',
       'MTech/ CSE', 'MTech/ CNIS', 'M.E/ ECE', 'ME / VLSI', 'M.E/ EEE',
       'M.E/\nCad/Cam', 'ME/ THERMAL', 'ME/ Stru', 'MBA', 'TOTAL']]

In [27]:
#setting the "Name of the Organization" as the index of the new dataframes 

p10.set_index('Name of the Organization',inplace=True)
p11.set_index('Name of the Organization',inplace=True)
p12.set_index('Name of the Organization',inplace=True)
p13.set_index('Name of the Organization',inplace=True)
p14.set_index('Name of the Organization',inplace=True)
p15.set_index('Name of the Organization',inplace=True)
p16.set_index('Name of the Organization',inplace=True)
p17.set_index('Name of the Organization',inplace=True)
p18.set_index('Name of the Organization',inplace=True)
p19.set_index('Name of the Organization',inplace=True)
p20.set_index('Name of the Organization',inplace=True)
p21.set_index('Name of the Organization',inplace=True)

In [28]:
#converting the strings to uppercase & removing whitespaces to avoid discrepancies 

p10.index=p10.index.str.upper().str.strip()
p11.index=p11.index.str.upper().str.strip()
p12.index=p12.index.str.upper().str.strip()
p13.index=p13.index.str.upper().str.strip()
p14.index=p14.index.str.upper().str.strip()
p15.index=p15.index.str.upper().str.strip()
p16.index=p16.index.str.upper().str.strip()
p17.index=p17.index.str.upper().str.strip()
p18.index=p18.index.str.upper().str.strip()
p19.index=p19.index.str.upper().str.strip()
p20.index=p20.index.str.upper().str.strip()
p21.index=p21.index.str.upper().str.strip()

In [29]:
#adding data of 2010 and 2011

In [30]:
pm=pd.merge(p10,p11,how='outer',on='Name of the Organization')

In [31]:
pm.fillna(0,inplace=True)

In [32]:
#adding values of left and right dataframes and storing them in new columns

pm['ECE']=pm['ECE_x']+pm['ECE_y']
pm['CSE']=pm['CSE_x']+pm['CSE_y']
pm['EEE']=pm['EEE_x']+pm['EEE_y']
pm['IT']=pm['IT_x']+pm['IT_y']
pm['MECH']=pm['MECH_x']+pm['MECH_y']
pm['PROD']=pm['PROD_x']+pm['PROD_y']
pm['CIVIL']=pm['CIVIL_x']+pm['CIVIL_y']
pm['CHEM']=pm['CHEM_x']+pm['CHEM_y']
pm['BIO- TECH']=pm['BIO- TECH_x']+pm['BIO- TECH_y']
pm['MCA']=pm['MCA_x']+pm['MCA_y']
pm['MTech/ CSE']=pm['MTech/ CSE_x']+pm['MTech/ CSE_y']
pm['M.E/ ECE']=pm['M.E/ ECE_x']+pm['M.E/ ECE_y']
pm['M.E/ EEE']=pm['M.E/ EEE_x']+pm['M.E/ EEE_y']
pm['M.E/\nCad/Cam']=pm['M.E/\nCad/Cam_x']+pm['M.E/\nCad/Cam_y']
pm['ME/ CIVIL']=pm['ME/ CIVIL_x']+pm['ME/ CIVIL_y']
pm['MBA']=pm['MBA_x']+pm['MBA_y']
pm['TOTAL']=pm['TOTAL_x']+pm['TOTAL_y']

In [33]:
#drop the unnecessary columns

pm.drop(['ECE_x', 'CSE_x', 'EEE_x', 'IT_x', 'MECH_x', 'PROD_x', 'CIVIL_x',
       'CHEM_x', 'BIO- TECH_x', 'MCA_x', 'MTech/ CSE_x', 'M.E/ ECE_x',
       'M.E/ EEE_x', 'M.E/\nCad/Cam_x', 'ME/ CIVIL_x', 'MBA_x', 'TOTAL_x',
       'ECE_y', 'CSE_y', 'EEE_y', 'IT_y', 'MECH_y', 'PROD_y', 'CIVIL_y',
       'CHEM_y', 'BIO- TECH_y', 'MCA_y', 'MTech/ CSE_y', 'M.E/ ECE_y',
       'M.E/ EEE_y', 'M.E/\nCad/Cam_y', 'ME/ CIVIL_y', 'MBA_y', 'TOTAL_y'],axis=1,inplace=True)

In [34]:
#adding data of 2010,2011 and 2012

In [35]:
pm=pd.merge(pm,p12,how='outer',on='Name of the Organization')

In [36]:
pm.fillna(0,inplace=True)

In [37]:
#adding values of left and right dataframes and storing them in new columns

pm['ECE']=pm['ECE_x']+pm['ECE_y']
pm['CSE']=pm['CSE_x']+pm['CSE_y']
pm['EEE']=pm['EEE_x']+pm['EEE_y']
pm['IT']=pm['IT_x']+pm['IT_y']
pm['MECH']=pm['MECH_x']+pm['MECH_y']
pm['PROD']=pm['PROD_x']+pm['PROD_y']
pm['CIVIL']=pm['CIVIL_x']+pm['CIVIL_y']
pm['CHEM']=pm['CHEM_x']+pm['CHEM_y']
pm['BIO- TECH']=pm['BIO- TECH_x']+pm['BIO- TECH_y']
pm['MCA']=pm['MCA_x']+pm['MCA_y']
pm['MTech/ CSE']=pm['MTech/ CSE_x']+pm['MTech/ CSE_y']
pm['M.E/ ECE']=pm['M.E/ ECE_x']+pm['M.E/ ECE_y']
pm['M.E/ EEE']=pm['M.E/ EEE_x']+pm['M.E/ EEE_y']
pm['M.E/\nCad/Cam']=pm['M.E/\nCad/Cam_x']+pm['M.E/\nCad/Cam_y']
pm['ME/ CIVIL']=pm['ME/ CIVIL_x']+pm['ME/ CIVIL_y']
pm['MBA']=pm['MBA_x']+pm['MBA_y']
pm['TOTAL']=pm['TOTAL_x']+pm['TOTAL_y']

In [38]:
pm.columns

Index(['ECE_x', 'CSE_x', 'EEE_x', 'IT_x', 'MECH_x', 'PROD_x', 'CIVIL_x',
       'CHEM_x', 'BIO- TECH_x', 'MCA_x', 'MTech/ CSE_x', 'M.E/ ECE_x',
       'M.E/ EEE_x', 'M.E/\nCad/Cam_x', 'ME/ CIVIL_x', 'MBA_x', 'TOTAL_x',
       'ECE_y', 'CSE_y', 'EEE_y', 'IT_y', 'MECH_y', 'PROD_y', 'CIVIL_y',
       'CHEM_y', 'BIO- TECH_y', 'MCA_y', 'MTech/ CSE_y', 'M.E/ ECE_y',
       'M.E/ EEE_y', 'M.E/\nCad/Cam_y', 'ME/ CIVIL_y', 'MBA_y', 'TOTAL_y',
       'ECE', 'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH',
       'MCA', 'MTech/ CSE', 'M.E/ ECE', 'M.E/ EEE', 'M.E/\nCad/Cam',
       'ME/ CIVIL', 'MBA', 'TOTAL'],
      dtype='object')

In [39]:
#drop the unnecessary columns

pm.drop(['ECE_x', 'CSE_x', 'EEE_x', 'IT_x', 'MECH_x', 'PROD_x', 'CIVIL_x',
       'CHEM_x', 'BIO- TECH_x', 'MCA_x', 'MTech/ CSE_x', 'M.E/ ECE_x',
       'M.E/ EEE_x', 'M.E/\nCad/Cam_x', 'ME/ CIVIL_x', 'MBA_x', 'TOTAL_x',
       'ECE_y', 'CSE_y', 'EEE_y', 'IT_y', 'MECH_y', 'PROD_y', 'CIVIL_y',
       'CHEM_y', 'BIO- TECH_y', 'MCA_y', 'MTech/ CSE_y', 'M.E/ ECE_y',
       'M.E/ EEE_y', 'M.E/\nCad/Cam_y', 'ME/ CIVIL_y', 'MBA_y', 'TOTAL_y'],axis=1,inplace=True)

In [40]:
#adding data of 2010,2011,2012 and 2013

In [41]:
pm=pd.merge(pm,p13,how='outer',on='Name of the Organization')

In [42]:
pm.fillna(0,inplace=True)

In [43]:
#adding values of left and right dataframes and storing them in new columns

pm['ECE']=pm['ECE_x']+pm['ECE_y']
pm['CSE']=pm['CSE_x']+pm['CSE_y']
pm['EEE']=pm['EEE_x']+pm['EEE_y']
pm['IT']=pm['IT_x']+pm['IT_y']
pm['MECH']=pm['MECH_x']+pm['MECH_y']
pm['PROD']=pm['PROD_x']+pm['PROD_y']
pm['CIVIL']=pm['CIVIL_x']+pm['CIVIL_y']
pm['CHEM']=pm['CHEM_x']+pm['CHEM_y']
pm['BIO- TECH']=pm['BIO- TECH_x']+pm['BIO- TECH_y']
pm['MCA']=pm['MCA_x']+pm['MCA_y']
pm['MTech/ CSE']=pm['MTech/ CSE_x']+pm['MTech/ CSE_y']
pm['M.E/ ECE']=pm['M.E/ ECE_x']+pm['M.E/ ECE_y']
pm['M.E/ EEE']=pm['M.E/ EEE_x']+pm['M.E/ EEE_y']
pm['M.E/\nCad/Cam']=pm['M.E/\nCad/Cam_x']+pm['M.E/\nCad/Cam_y']
pm['ME/ CIVIL']=pm['ME/ CIVIL_x']+pm['ME/ CIVIL_y']
pm['MBA']=pm['MBA_x']+pm['MBA_y']
pm['TOTAL']=pm['TOTAL_x']+pm['TOTAL_y']

In [44]:
pm.columns

Index(['ECE_x', 'CSE_x', 'EEE_x', 'IT_x', 'MECH_x', 'PROD_x', 'CIVIL_x',
       'CHEM_x', 'BIO- TECH_x', 'MCA_x', 'MTech/ CSE_x', 'M.E/ ECE_x',
       'M.E/ EEE_x', 'M.E/\nCad/Cam_x', 'ME/ CIVIL_x', 'MBA_x', 'TOTAL_x',
       'ECE_y', 'CSE_y', 'EEE_y', 'IT_y', 'MECH_y', 'PROD_y', 'CIVIL_y',
       'CHEM_y', 'BIO- TECH_y', 'MCA_y', 'MTech/ CSE_y', 'M.E/ ECE_y',
       'M.E/ EEE_y', 'M.E/\nCad/Cam_y', 'ME/ CIVIL_y', 'MBA_y', 'TOTAL_y',
       'ECE', 'CSE', 'EEE', 'IT', 'MECH', 'PROD', 'CIVIL', 'CHEM', 'BIO- TECH',
       'MCA', 'MTech/ CSE', 'M.E/ ECE', 'M.E/ EEE', 'M.E/\nCad/Cam',
       'ME/ CIVIL', 'MBA', 'TOTAL'],
      dtype='object')

In [45]:
#drop the unnecessary columns

pm.drop(['ECE_x', 'CSE_x', 'EEE_x', 'IT_x', 'MECH_x', 'PROD_x', 'CIVIL_x',
       'CHEM_x', 'BIO- TECH_x', 'MCA_x', 'MTech/ CSE_x', 'M.E/ ECE_x',
       'M.E/ EEE_x', 'M.E/\nCad/Cam_x', 'ME/ CIVIL_x', 'MBA_x', 'TOTAL_x',
       'ECE_y', 'CSE_y', 'EEE_y', 'IT_y', 'MECH_y', 'PROD_y', 'CIVIL_y',
       'CHEM_y', 'BIO- TECH_y', 'MCA_y', 'MTech/ CSE_y', 'M.E/ ECE_y',
       'M.E/ EEE_y', 'M.E/\nCad/Cam_y', 'ME/ CIVIL_y', 'MBA_y', 'TOTAL_y'],axis=1,inplace=True)

In [46]:
#adding data of 2010,2011,2012,2013 and 2014

In [47]:
pm=pd.merge(pm,p14,how='outer',on='Name of the Organization')

In [48]:
pm.fillna(0,inplace=True)

In [49]:
#adding values of left and right dataframes and storing them in new columns

pm['ECE']=pm['ECE_x']+pm['ECE_y']
pm['CSE']=pm['CSE_x']+pm['CSE_y']
pm['EEE']=pm['EEE_x']+pm['EEE_y']
pm['IT']=pm['IT_x']+pm['IT_y']
pm['MECH']=pm['MECH_x']+pm['MECH_y']
pm['PROD']=pm['PROD_x']+pm['PROD_y']
pm['CIVIL']=pm['CIVIL_x']+pm['CIVIL_y']
pm['CHEM']=pm['CHEM_x']+pm['CHEM_y']
pm['BIO- TECH']=pm['BIO- TECH_x']+pm['BIO- TECH_y']
pm['MCA']=pm['MCA_x']+pm['MCA_y']
pm['MTech/ CSE']=pm['MTech/ CSE_x']+pm['MTech/ CSE_y']
pm['M.E/ ECE']=pm['M.E/ ECE_x']+pm['M.E/ ECE_y']
pm['M.E/ EEE']=pm['M.E/ EEE_x']+pm['M.E/ EEE_y']
pm['M.E/\nCad/Cam']=pm['M.E/\nCad/Cam_x']+pm['M.E/\nCad/Cam_y']
pm['ME/ CIVIL']=pm['ME/ CIVIL_x']+pm['ME/ CIVIL_y']
pm['MBA']=pm['MBA_x']+pm['MBA_y']
pm['TOTAL']=pm['TOTAL_x']+pm['TOTAL_y']

In [50]:
#drop the unnecessary columns

pm.drop(['ECE_x', 'CSE_x', 'EEE_x', 'IT_x', 'MECH_x', 'PROD_x', 'CIVIL_x',
       'CHEM_x', 'BIO- TECH_x', 'MCA_x', 'MTech/ CSE_x', 'M.E/ ECE_x',
       'M.E/ EEE_x', 'M.E/\nCad/Cam_x', 'ME/ CIVIL_x', 'MBA_x', 'TOTAL_x',
       'ECE_y', 'CSE_y', 'EEE_y', 'IT_y', 'MECH_y', 'PROD_y', 'CIVIL_y',
       'CHEM_y', 'BIO- TECH_y', 'MCA_y', 'MTech/ CSE_y', 'M.E/ ECE_y','M.E/ EEE_y', 
         'M.E/\nCad/Cam_y','ME/ CIVIL_y', 'MBA_y', 'TOTAL_y'],axis=1,inplace=True)

In [51]:
#adding data of 2010,2011,2012,2013,2014 and 2015

In [52]:
pm=pd.merge(pm,p15,how='outer',on='Name of the Organization')

In [53]:
pm.fillna(0,inplace=True)

In [54]:
pm.columns

Index(['ME / VLSI_x', 'ME/ THERMAL_x', 'ECE_x', 'CSE_x', 'EEE_x', 'IT_x',
       'MECH_x', 'PROD_x', 'CIVIL_x', 'CHEM_x', 'BIO- TECH_x', 'MCA_x',
       'MTech/ CSE_x', 'M.E/ ECE_x', 'M.E/ EEE_x', 'M.E/\nCad/Cam_x',
       'ME/ CIVIL_x', 'MBA_x', 'TOTAL_x', 'ECE_y', 'CSE_y', 'EEE_y', 'IT_y',
       'MECH_y', 'PROD_y', 'CIVIL_y', 'CHEM_y', 'BIO- TECH_y', 'MCA_y',
       'MTech/ CSE_y', 'MTech/ CNIS', 'M.E/ ECE_y', 'ME / VLSI_y',
       'M.E/ EEE_y', 'M.E/\nCad/Cam_y', 'ME/ THERMAL_y', 'ME/ CIVIL_y',
       'MBA_y', 'TOTAL_y'],
      dtype='object')

In [55]:
#adding values of left and right dataframes and storing them in new columns

pm['ECE']=pm['ECE_x']+pm['ECE_y']
pm['CSE']=pm['CSE_x']+pm['CSE_y']
pm['EEE']=pm['EEE_x']+pm['EEE_y']
pm['IT']=pm['IT_x']+pm['IT_y']
pm['MECH']=pm['MECH_x']+pm['MECH_y']
pm['PROD']=pm['PROD_x']+pm['PROD_y']
pm['CIVIL']=pm['CIVIL_x']+pm['CIVIL_y']
pm['CHEM']=pm['CHEM_x']+pm['CHEM_y']
pm['BIO- TECH']=pm['BIO- TECH_x']+pm['BIO- TECH_y']
pm['MCA']=pm['MCA_x']+pm['MCA_y']
pm['MTech/ CSE']=pm['MTech/ CSE_x']+pm['MTech/ CSE_y']
pm['M.E/ ECE']=pm['M.E/ ECE_x']+pm['M.E/ ECE_y']
pm['M.E/ EEE']=pm['M.E/ EEE_x']+pm['M.E/ EEE_y']
pm['M.E/\nCad/Cam']=pm['M.E/\nCad/Cam_x']+pm['M.E/\nCad/Cam_y']
pm['ME/ CIVIL']=pm['ME/ CIVIL_x']+pm['ME/ CIVIL_y']
pm['MBA']=pm['MBA_x']+pm['MBA_y']
pm['TOTAL']=pm['TOTAL_x']+pm['TOTAL_y']
pm['ME / VLSI']=pm['ME / VLSI_x']+pm['ME / VLSI_y']
pm['ME/ THERMAL']=pm['ME/ THERMAL_x']+pm['ME/ THERMAL_y']

In [56]:
#drop the unnecessary columns

pm.drop(['ME / VLSI_x', 'ME/ THERMAL_x', 'ECE_x', 'CSE_x', 'EEE_x', 'IT_x',
       'MECH_x', 'PROD_x', 'CIVIL_x', 'CHEM_x', 'BIO- TECH_x', 'MCA_x',
       'MTech/ CSE_x', 'M.E/ ECE_x', 'M.E/ EEE_x', 'M.E/\nCad/Cam_x',
       'ME/ CIVIL_x', 'MBA_x', 'TOTAL_x', 'ECE_y', 'CSE_y', 'EEE_y', 'IT_y',
       'MECH_y', 'PROD_y', 'CIVIL_y', 'CHEM_y', 'BIO- TECH_y', 'MCA_y',
       'MTech/ CSE_y','M.E/ ECE_y', 'ME / VLSI_y',
       'M.E/ EEE_y', 'M.E/\nCad/Cam_y', 'ME/ THERMAL_y', 'ME/ CIVIL_y',
       'MBA_y', 'TOTAL_y'],axis=1,inplace=True)

In [57]:
#adding data of 2010,2011,2012,2013,2014,2015 and 2016

In [58]:
pm=pd.merge(pm,p16,how='outer',on='Name of the Organization')

In [59]:
pm.fillna(0,inplace=True)

In [60]:
pm.columns

Index(['MTech/ CNIS_x', 'ECE_x', 'CSE_x', 'EEE_x', 'IT_x', 'MECH_x', 'PROD_x',
       'CIVIL_x', 'CHEM_x', 'BIO- TECH_x', 'MCA_x', 'MTech/ CSE_x',
       'M.E/ ECE_x', 'M.E/ EEE_x', 'M.E/\nCad/Cam_x', 'ME/ CIVIL_x', 'MBA_x',
       'TOTAL_x', 'ME / VLSI_x', 'ME/ THERMAL_x', 'ECE_y', 'CSE_y', 'EEE_y',
       'IT_y', 'MECH_y', 'PROD_y', 'CIVIL_y', 'CHEM_y', 'BIO- TECH_y', 'MCA_y',
       'MTech/ CSE_y', 'MTech/ CNIS_y', 'M.E/ ECE_y', 'ME / VLSI_y',
       'M.E/ EEE_y', 'M.E/\nCad/Cam_y', 'ME/ THERMAL_y', 'ME/ CIVIL_y',
       'MBA_y', 'TOTAL_y'],
      dtype='object')

In [61]:
#adding values of left and right dataframes and storing them in new columns

pm['ECE']=pm['ECE_x']+pm['ECE_y']
pm['CSE']=pm['CSE_x']+pm['CSE_y']
pm['EEE']=pm['EEE_x']+pm['EEE_y']
pm['IT']=pm['IT_x']+pm['IT_y']
pm['MECH']=pm['MECH_x']+pm['MECH_y']
pm['PROD']=pm['PROD_x']+pm['PROD_y']
pm['CIVIL']=pm['CIVIL_x']+pm['CIVIL_y']
pm['CHEM']=pm['CHEM_x']+pm['CHEM_y']
pm['BIO- TECH']=pm['BIO- TECH_x']+pm['BIO- TECH_y']
pm['MCA']=pm['MCA_x']+pm['MCA_y']
pm['MTech/ CSE']=pm['MTech/ CSE_x']+pm['MTech/ CSE_y']
pm['MTech/ CNIS']=pm['MTech/ CNIS_x']+pm['MTech/ CNIS_y']
pm['M.E/ ECE']=pm['M.E/ ECE_x']+pm['M.E/ ECE_y']
pm['ME / VLSI']=pm['ME / VLSI_x']+pm['ME / VLSI_y']
pm['M.E/ EEE']=pm['M.E/ EEE_x']+pm['M.E/ EEE_y']
pm['M.E/\nCad/Cam']=pm['M.E/\nCad/Cam_x']+pm['M.E/\nCad/Cam_y']
pm['ME/ THERMAL']=pm['ME/ THERMAL_x']+pm['ME/ THERMAL_y']
pm['ME/ CIVIL']=pm['ME/ CIVIL_x']+pm['ME/ CIVIL_y']
pm['MBA']=pm['MBA_x']+pm['MBA_y']
pm['TOTAL']=pm['TOTAL_x']+pm['TOTAL_y']

In [62]:
#drop the unnecessary columns

pm.drop(['ECE_x', 'CSE_x', 'EEE_x', 'IT_x', 'MECH_x', 'PROD_x', 'CIVIL_x',
       'CHEM_x', 'BIO- TECH_x', 'MCA_x', 'MTech/ CSE_x', 'MTech/ CNIS_x',
       'M.E/ ECE_x', 'ME / VLSI_x', 'M.E/ EEE_x', 'M.E/\nCad/Cam_x',
       'ME/ THERMAL_x', 'ME/ CIVIL_x', 'MBA_x', 'TOTAL_x', 'ECE_y', 'CSE_y',
       'EEE_y', 'IT_y', 'MECH_y', 'PROD_y', 'CIVIL_y', 'CHEM_y', 'BIO- TECH_y',
       'MCA_y', 'MTech/ CSE_y', 'MTech/ CNIS_y', 'M.E/ ECE_y', 'ME / VLSI_y',
       'M.E/ EEE_y', 'M.E/\nCad/Cam_y', 'ME/ THERMAL_y', 'ME/ CIVIL_y',
       'MBA_y', 'TOTAL_y'],axis=1,inplace=True)

In [63]:
#adding data of 2010,2011,2012,2013,2014,2015,2016 and 2017

In [64]:
pm=pd.merge(pm,p17,how='outer',on='Name of the Organization')

In [65]:
pm.fillna(0,inplace=True)

In [66]:
#adding values of left and right dataframes and storing them in new columns

pm['ECE']=pm['ECE_x']+pm['ECE_y']
pm['CSE']=pm['CSE_x']+pm['CSE_y']
pm['EEE']=pm['EEE_x']+pm['EEE_y']
pm['IT']=pm['IT_x']+pm['IT_y']
pm['MECH']=pm['MECH_x']+pm['MECH_y']
pm['PROD']=pm['PROD_x']+pm['PROD_y']
pm['CIVIL']=pm['CIVIL_x']+pm['CIVIL_y']
pm['CHEM']=pm['CHEM_x']+pm['CHEM_y']
pm['BIO- TECH']=pm['BIO- TECH_x']+pm['BIO- TECH_y']
pm['MCA']=pm['MCA_x']+pm['MCA_y']
pm['MTech/ CSE']=pm['MTech/ CSE_x']+pm['MTech/ CSE_y']
pm['MTech/ CNIS']=pm['MTech/ CNIS_x']+pm['MTech/ CNIS_y']
pm['M.E/ ECE']=pm['M.E/ ECE_x']+pm['M.E/ ECE_y']
pm['ME / VLSI']=pm['ME / VLSI_x']+pm['ME / VLSI_y']
pm['M.E/ EEE']=pm['M.E/ EEE_x']+pm['M.E/ EEE_y']
pm['M.E/\nCad/Cam']=pm['M.E/\nCad/Cam_x']+pm['M.E/\nCad/Cam_y']
pm['ME/ THERMAL']=pm['ME/ THERMAL_x']+pm['ME/ THERMAL_y']
pm['ME/ CIVIL']=pm['ME/ CIVIL_x']+pm['ME/ CIVIL_y']
pm['MBA']=pm['MBA_x']+pm['MBA_y']
pm['TOTAL']=pm['TOTAL_x']+pm['TOTAL_y']

In [67]:
#drop the unnecessary columns

pm.drop(['ECE_x', 'CSE_x', 'EEE_x', 'IT_x', 'MECH_x', 'PROD_x', 'CIVIL_x',
       'CHEM_x', 'BIO- TECH_x', 'MCA_x', 'MTech/ CSE_x', 'MTech/ CNIS_x',
       'M.E/ ECE_x', 'ME / VLSI_x', 'M.E/ EEE_x', 'M.E/\nCad/Cam_x',
       'ME/ THERMAL_x', 'ME/ CIVIL_x', 'MBA_x', 'TOTAL_x', 'ECE_y', 'CSE_y',
       'EEE_y', 'IT_y', 'MECH_y', 'PROD_y', 'CIVIL_y', 'CHEM_y', 'BIO- TECH_y',
       'MCA_y', 'MTech/ CSE_y', 'MTech/ CNIS_y', 'M.E/ ECE_y', 'ME / VLSI_y',
       'M.E/ EEE_y', 'M.E/\nCad/Cam_y', 'ME/ THERMAL_y', 'ME/ CIVIL_y',
       'MBA_y', 'TOTAL_y'],axis=1,inplace=True)

In [68]:
#pm.index

In [69]:
#for i in p16.index:
#    for j in p17.index:
#        if i==j:
#            print(i)

In [70]:
#adding data of 2010,2011,2012,2013,2014,2015,2016,2017 and 2018

In [71]:
pm=pd.merge(pm,p18,how='outer',on='Name of the Organization')

In [72]:
pm.fillna(0,inplace=True)

In [73]:
pm['ECE']=pm['ECE_x']+pm['ECE_y']
pm['CSE']=pm['CSE_x']+pm['CSE_y']
pm['EEE']=pm['EEE_x']+pm['EEE_y']
pm['IT']=pm['IT_x']+pm['IT_y']
pm['MECH']=pm['MECH_x']+pm['MECH_y']
pm['PROD']=pm['PROD_x']+pm['PROD_y']
pm['CIVIL']=pm['CIVIL_x']+pm['CIVIL_y']
pm['CHEM']=pm['CHEM_x']+pm['CHEM_y']
pm['BIO- TECH']=pm['BIO- TECH_x']+pm['BIO- TECH_y']
pm['MCA']=pm['MCA_x']+pm['MCA_y']
pm['MTech/ CSE']=pm['MTech/ CSE_x']+pm['MTech/ CSE_y']
pm['MTech/ CNIS']=pm['MTech/ CNIS_x']+pm['MTech/ CNIS_y']
pm['M.E/ ECE']=pm['M.E/ ECE_x']+pm['M.E/ ECE_y']
pm['ME / VLSI']=pm['ME / VLSI_x']+pm['ME / VLSI_y']
pm['M.E/ EEE']=pm['M.E/ EEE_x']+pm['M.E/ EEE_y']
pm['M.E/\nCad/Cam']=pm['M.E/\nCad/Cam_x']+pm['M.E/\nCad/Cam_y']
pm['ME/ THERMAL']=pm['ME/ THERMAL_x']+pm['ME/ THERMAL_y']
pm['ME/ CIVIL']=pm['ME/ CIVIL_x']+pm['ME/ CIVIL_y']
pm['MBA']=pm['MBA_x']+pm['MBA_y']
pm['TOTAL']=pm['TOTAL_x']+pm['TOTAL_y']

In [74]:
pm.drop(['ECE_x', 'CSE_x', 'EEE_x', 'IT_x', 'MECH_x', 'PROD_x', 'CIVIL_x',
       'CHEM_x', 'BIO- TECH_x', 'MCA_x', 'MTech/ CSE_x', 'MTech/ CNIS_x',
       'M.E/ ECE_x', 'ME / VLSI_x', 'M.E/ EEE_x', 'M.E/\nCad/Cam_x',
       'ME/ THERMAL_x', 'ME/ CIVIL_x', 'MBA_x', 'TOTAL_x', 'ECE_y', 'CSE_y',
       'EEE_y', 'IT_y', 'MECH_y', 'PROD_y', 'CIVIL_y', 'CHEM_y', 'BIO- TECH_y',
       'MCA_y', 'MTech/ CSE_y', 'MTech/ CNIS_y', 'M.E/ ECE_y', 'ME / VLSI_y',
       'M.E/ EEE_y', 'M.E/\nCad/Cam_y', 'ME/ THERMAL_y', 'ME/ CIVIL_y',
       'MBA_y', 'TOTAL_y'],axis=1,inplace=True)

In [75]:
#adding data of 2010,2011,2012,2013,2014,2015,2016,2017,2018 and 2019

In [76]:
pm=pd.merge(pm,p19,how='outer',on='Name of the Organization')

In [77]:
pm.fillna(0,inplace=True)

In [78]:
pm['ECE']=pm['ECE_x']+pm['ECE_y']
pm['CSE']=pm['CSE_x']+pm['CSE_y']
pm['EEE']=pm['EEE_x']+pm['EEE_y']
pm['IT']=pm['IT_x']+pm['IT_y']
pm['MECH']=pm['MECH_x']+pm['MECH_y']
pm['PROD']=pm['PROD_x']+pm['PROD_y']
pm['CIVIL']=pm['CIVIL_x']+pm['CIVIL_y']
pm['CHEM']=pm['CHEM_x']+pm['CHEM_y']
pm['BIO- TECH']=pm['BIO- TECH_x']+pm['BIO- TECH_y']
pm['MCA']=pm['MCA_x']+pm['MCA_y']
pm['MTech/ CSE']=pm['MTech/ CSE_x']+pm['MTech/ CSE_y']
pm['MTech/ CNIS']=pm['MTech/ CNIS_x']+pm['MTech/ CNIS_y']
pm['M.E/ ECE']=pm['M.E/ ECE_x']+pm['M.E/ ECE_y']
pm['ME / VLSI']=pm['ME / VLSI_x']+pm['ME / VLSI_y']
pm['M.E/ EEE']=pm['M.E/ EEE_x']+pm['M.E/ EEE_y']
pm['M.E/\nCad/Cam']=pm['M.E/\nCad/Cam_x']+pm['M.E/\nCad/Cam_y']
pm['ME/ THERMAL']=pm['ME/ THERMAL_x']+pm['ME/ THERMAL_y']
pm['ME/ CIVIL']=pm['ME/ CIVIL_x']+pm['ME/ CIVIL_y']
pm['MBA']=pm['MBA_x']+pm['MBA_y']
pm['TOTAL']=pm['TOTAL_x']+pm['TOTAL_y']

In [79]:
pm.drop(['ECE_x', 'CSE_x', 'EEE_x', 'IT_x', 'MECH_x', 'PROD_x', 'CIVIL_x',
       'CHEM_x', 'BIO- TECH_x', 'MCA_x', 'MTech/ CSE_x', 'MTech/ CNIS_x',
       'M.E/ ECE_x', 'ME / VLSI_x', 'M.E/ EEE_x', 'M.E/\nCad/Cam_x',
       'ME/ THERMAL_x', 'ME/ CIVIL_x', 'MBA_x', 'TOTAL_x', 'ECE_y', 'CSE_y',
       'EEE_y', 'IT_y', 'MECH_y', 'PROD_y', 'CIVIL_y', 'CHEM_y', 'BIO- TECH_y',
       'MCA_y', 'MTech/ CSE_y', 'MTech/ CNIS_y', 'M.E/ ECE_y', 'ME / VLSI_y',
       'M.E/ EEE_y', 'M.E/\nCad/Cam_y', 'ME/ THERMAL_y', 'ME/ CIVIL_y',
       'MBA_y', 'TOTAL_y'],axis=1,inplace=True)

In [80]:
#adding data of 2010,2011,2012,2013,2014,2015,2016,2017,2018,2019 and 2020

In [81]:
pm=pd.merge(pm,p20,how='outer',on='Name of the Organization')

In [82]:
pm.fillna(0,inplace=True)

In [83]:
pm['ECE']=pm['ECE_x']+pm['ECE_y']
pm['CSE']=pm['CSE_x']+pm['CSE_y']
pm['EEE']=pm['EEE_x']+pm['EEE_y']
pm['IT']=pm['IT_x']+pm['IT_y']
pm['MECH']=pm['MECH_x']+pm['MECH_y']
pm['PROD']=pm['PROD_x']+pm['PROD_y']
pm['CIVIL']=pm['CIVIL_x']+pm['CIVIL_y']
pm['CHEM']=pm['CHEM_x']+pm['CHEM_y']
pm['BIO- TECH']=pm['BIO- TECH_x']+pm['BIO- TECH_y']
pm['MCA']=pm['MCA_x']+pm['MCA_y']
pm['MTech/ CSE']=pm['MTech/ CSE_x']+pm['MTech/ CSE_y']
pm['MTech/ CNIS']=pm['MTech/ CNIS_x']+pm['MTech/ CNIS_y']
pm['M.E/ ECE']=pm['M.E/ ECE_x']+pm['M.E/ ECE_y']
pm['ME / VLSI']=pm['ME / VLSI_x']+pm['ME / VLSI_y']
pm['M.E/ EEE']=pm['M.E/ EEE_x']+pm['M.E/ EEE_y']
pm['M.E/\nCad/Cam']=pm['M.E/\nCad/Cam_x']+pm['M.E/\nCad/Cam_y']
pm['ME/ THERMAL']=pm['ME/ THERMAL_x']+pm['ME/ THERMAL_y']
pm['ME/ CIVIL']=pm['ME/ CIVIL_x']+pm['ME/ CIVIL_y']
pm['MBA']=pm['MBA_x']+pm['MBA_y']
pm['TOTAL']=pm['TOTAL_x']+pm['TOTAL_y']

In [84]:
pm.drop(['ECE_x', 'CSE_x', 'EEE_x', 'IT_x', 'MECH_x', 'PROD_x', 'CIVIL_x',
       'CHEM_x', 'BIO- TECH_x', 'MCA_x', 'MTech/ CSE_x', 'MTech/ CNIS_x',
       'M.E/ ECE_x', 'ME / VLSI_x', 'M.E/ EEE_x', 'M.E/\nCad/Cam_x',
       'ME/ THERMAL_x', 'ME/ CIVIL_x', 'MBA_x', 'TOTAL_x', 'ECE_y', 'CSE_y',
       'EEE_y', 'IT_y', 'MECH_y', 'PROD_y', 'CIVIL_y', 'CHEM_y', 'BIO- TECH_y',
       'MCA_y', 'MTech/ CSE_y', 'MTech/ CNIS_y', 'M.E/ ECE_y', 'ME / VLSI_y',
       'M.E/ EEE_y', 'M.E/\nCad/Cam_y', 'ME/ THERMAL_y', 'ME/ CIVIL_y',
       'MBA_y', 'TOTAL_y'],axis=1,inplace=True)

In [85]:
#adding data of 2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020 and 2021

In [86]:
pm=pd.merge(pm,p21,how='outer',on='Name of the Organization')

In [87]:
pm.fillna(0,inplace=True)

In [88]:
pm.columns

Index(['ECE_x', 'CSE_x', 'EEE_x', 'IT_x', 'MECH_x', 'PROD_x', 'CIVIL_x',
       'CHEM_x', 'BIO- TECH_x', 'MCA_x', 'MTech/ CSE_x', 'MTech/ CNIS_x',
       'M.E/ ECE_x', 'ME / VLSI_x', 'M.E/ EEE_x', 'M.E/\nCad/Cam_x',
       'ME/ THERMAL_x', 'ME/ CIVIL', 'MBA_x', 'TOTAL_x', 'ECE_y', 'CSE_y',
       'EEE_y', 'IT_y', 'MECH_y', 'PROD_y', 'CIVIL_y', 'CHEM_y', 'BIO- TECH_y',
       'MCA_y', 'MTech/ CSE_y', 'MTech/ CNIS_y', 'M.E/ ECE_y', 'ME / VLSI_y',
       'M.E/ EEE_y', 'M.E/\nCad/Cam_y', 'ME/ THERMAL_y', 'ME/ Stru', 'MBA_y',
       'TOTAL_y'],
      dtype='object')

In [89]:
pm['ECE']=pm['ECE_x']+pm['ECE_y']
pm['CSE']=pm['CSE_x']+pm['CSE_y']
pm['EEE']=pm['EEE_x']+pm['EEE_y']
pm['IT']=pm['IT_x']+pm['IT_y']
pm['MECH']=pm['MECH_x']+pm['MECH_y']
pm['PROD']=pm['PROD_x']+pm['PROD_y']
pm['CIVIL']=pm['CIVIL_x']+pm['CIVIL_y']
pm['CHEM']=pm['CHEM_x']+pm['CHEM_y']
pm['BIO- TECH']=pm['BIO- TECH_x']+pm['BIO- TECH_y']
pm['MCA']=pm['MCA_x']+pm['MCA_y']
pm['MTech/ CSE']=pm['MTech/ CSE_x']+pm['MTech/ CSE_y']
pm['MTech/ CNIS']=pm['MTech/ CNIS_x']+pm['MTech/ CNIS_y']
pm['M.E/ ECE']=pm['M.E/ ECE_x']+pm['M.E/ ECE_y']
pm['ME / VLSI']=pm['ME / VLSI_x']+pm['ME / VLSI_y']
pm['M.E/ EEE']=pm['M.E/ EEE_x']+pm['M.E/ EEE_y']
pm['M.E/\nCad/Cam']=pm['M.E/\nCad/Cam_x']+pm['M.E/\nCad/Cam_y']
pm['ME/ THERMAL']=pm['ME/ THERMAL_x']+pm['ME/ THERMAL_y']
pm['MBA']=pm['MBA_x']+pm['MBA_y']
pm['TOTAL']=pm['TOTAL_x']+pm['TOTAL_y']

In [90]:
pm.drop(['ECE_x', 'CSE_x', 'EEE_x', 'IT_x', 'MECH_x', 'PROD_x', 'CIVIL_x',
       'CHEM_x', 'BIO- TECH_x', 'MCA_x', 'MTech/ CSE_x', 'MTech/ CNIS_x',
       'M.E/ ECE_x', 'ME / VLSI_x', 'M.E/ EEE_x', 'M.E/\nCad/Cam_x',
       'ME/ THERMAL_x', 'MBA_x', 'TOTAL_x', 'ECE_y', 'CSE_y',
       'EEE_y', 'IT_y', 'MECH_y', 'PROD_y', 'CIVIL_y', 'CHEM_y', 'BIO- TECH_y',
       'MCA_y', 'MTech/ CSE_y', 'MTech/ CNIS_y', 'M.E/ ECE_y', 'ME / VLSI_y',
       'M.E/ EEE_y', 'M.E/\nCad/Cam_y', 'ME/ THERMAL_y',
       'MBA_y', 'TOTAL_y'],axis=1,inplace=True)

# Working with the merged dataset

In [91]:
#pm[pm.index.str.contains(r"\b(accenture)\b", flags=re.I, regex=True)]
#pm[pm.index.str.contains('INFOSYS')]

In [92]:
#pm[pm.index.str.contains(r'\bCTS\b',flags=re.I,regex=True)]

In [93]:
pm.rename(index={'CTS-MBA-FINANCE':'CTS'},inplace=True)
pm.rename(index={'CTS':'COGNIZANT'},inplace=True)

In [94]:
pm.reset_index(inplace=True)

In [95]:
pm['Name of the Organization'] = pm['Name of the Organization'].apply(lambda x: 'INFOSYS' if 'INFOSYS' in x else x)
pm['Name of the Organization'] = pm['Name of the Organization'].apply(lambda x: 'COGNIZANT' if 'COGNIZANT' in x else x)
pm['Name of the Organization'] = pm['Name of the Organization'].apply(lambda x: 'ACCENTURE' if 'ACCENTURE' in x else x)
pm['Name of the Organization'] = pm['Name of the Organization'].apply(lambda x: 'WIPRO' if 'WIPRO' in x else x)
pm['Name of the Organization'] = pm['Name of the Organization'].apply(lambda x: 'CAPGEMINI' if 'CAPGEMINI' in x else x)
pm['Name of the Organization'] = pm['Name of the Organization'].apply(lambda x: 'DELOITTE' if 'DELOITTE' in x else x)
pm['Name of the Organization'] = pm['Name of the Organization'].apply(lambda x: 'LARSEN TOUBRO' if 'LARSEN' in x else x)
pm['Name of the Organization'] = pm['Name of the Organization'].apply(lambda x: 'LARSEN TOUBRO' if 'L & T' in x else x)
pm['Name of the Organization'] = pm['Name of the Organization'].apply(lambda x: 'LARSEN TOUBRO' if 'L& T' in x else x)
pm['Name of the Organization'] = pm['Name of the Organization'].apply(lambda x: 'TCS' if 'TCS' in x else x)
pm['Name of the Organization'] = pm['Name of the Organization'].apply(lambda x: 'IGATE' if 'IGATE' in x else x)
pm['Name of the Organization'] = pm['Name of the Organization'].apply(lambda x: 'MICROSOFT' if 'MICROSOFT' in x else x)
pm['Name of the Organization'] = pm['Name of the Organization'].apply(lambda x: 'ORACLE' if 'ORACLE' in x else x)
pm['Name of the Organization'] = pm['Name of the Organization'].apply(lambda x: 'JPMC' if 'JP' in x else x)
pm['Name of the Organization'] = pm['Name of the Organization'].apply(lambda x: 'JPMC' if 'J P' in x else x)
pm['Name of the Organization'] = pm['Name of the Organization'].apply(lambda x: "DR. REDDY'S LABORATORIES LTD" if 'REDDY' in x else x)
pm['Name of the Organization'] = pm['Name of the Organization'].apply(lambda x: 'NAGARJUNA CONSTRUCTION COMPANY LTD.' if 'NAGARJUNA' in x else x)

In [96]:
pm.set_index('Name of the Organization',inplace=True)

In [97]:
#for i in pm.index.values:
#    match = re.search(r"\b(ACCENTURE)\b",i)
#    if match:
#        f=re.sub(i,'Cognizant',i)
#        print(i)
#        print(f)

In [98]:
pm=pm.groupby('Name of the Organization').sum()

In [104]:
pm = pm[ ['TOTAL'] + [ col for col in pm.columns if col != 'TOTAL' and col!='ME/ CIVIL' and col!='ME/ Stru' ] + ['ME/ CIVIL'] + ['ME/ Stru']]

# Cleaned DataFrame

In [105]:
pm.sort_values(by='TOTAL',ascending=False)

,TOTAL,ECE,CSE,EEE,IT,MECH,PROD,CIVIL,CHEM,BIO- TECH,...,MTech/ CSE,MTech/ CNIS,M.E/ ECE,ME / VLSI,M.E/ EEE,M.E/\nCad/Cam,ME/ THERMAL,MBA,ME/ CIVIL,ME/ Stru
Name of the Organization,,,,,,,,,,,,,,,,,,,,,
GRAND TOTAL,13027.0,3035.0,3074.0,1026.0,1461.0,1128.0,512.0,750.0,515.0,388.0,...,108.0,8.0,56.0,30.0,35.0,34.0,7.0,596.0,6.0,1.0
COGNIZANT,3289.0,836.0,671.0,328.0,309.0,324.0,130.0,206.0,166.0,143.0,...,33.0,0.0,25.0,20.0,13.0,8.0,6.0,9.0,0.0,1.0
INFOSYS,2200.0,595.0,449.0,211.0,202.0,238.0,102.0,153.0,92.0,91.0,...,16.0,3.0,6.0,7.0,5.0,6.0,3.0,0.0,0.0,0.0
ACCENTURE,1834.0,520.0,325.0,197.0,178.0,181.0,98.0,141.0,80.0,75.0,...,0.0,0.0,0.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0
WIPRO,1084.0,337.0,220.0,114.0,106.0,104.0,48.0,56.0,40.0,28.0,...,2.0,0.0,6.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
BOSCH LIMITED,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NEULAND LABS,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NOKIA SIEMENS\nNETWORKS - GET PROGRAM,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NOVARTIES HEALTHCARE,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
MOBIS TECHNICAL CENTER OF INDIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Exporting the merged dataset

In [100]:
#pm.to_csv('cleaned/11yrsmerged_recruitmentwise.csv')